
.container{
    width:100%;
    height:auto;
    display: flex;
  justify-content:space-between;
  border:0px solid black;
}


.sidebar{

    width:20%;
    height:900px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    border:0px solid red;
}

.main{
    width:78%;
    height:98%;
    border:0px solid black;
    margin-top:80px;

}

.bucket{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap:10px;
    background-color: rgb(243, 240, 240);

}
.top{
    width:100%;
    background-color: black;
    color:white;
    text-align: center;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:23px;
    margin-top:40px;

}

.btn1{
    color: black;
    background-color:red;
    margin-left: 20px;
}